{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <h3>Privacy Policy</h3>
    </div>

    <div class="row">
        <h5>Information Collected</h5>
    </div>
    <div class="row">
        <p>We do not collect or store any information from you or your YNAB account. A secure token is stored in your browser for a two hour window, that allows us to retrieve your transaction history.</p>
    </div>
    <div class="row">
        <h5>Third Party Sharing</h5>
    </div>
    <div class="row">
        <p>We do not knowlingly distribute any of your data to any third parties.</p>
    </div>

    <div class="row">
        <p>By using our site, you consent to this policy</p>
    </div>

</div>


{% endblock %}
